<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Realtime Chat Application.</title>
</head>
<body>

    <h2>Django Channels and WebSocket Generic views JsonwebsocketConsumer, AsyncJsonwebsocketConsumer</h2><hr><hr>


    {% if group_name is None %}
    
        <form action="{% url 'chat-view' %}" method="get">
            <input type="text" name="group-name" maxlength="20" minlength="5" placeholder="Group Name" required><br>
            <button type="submit">Connect To this Group</button>
        </form>

    {% else %}
        <h1>Group Name: {{group_name}}</h1> <br><br><br>
        {{ group_name|json_script:'user-group-name' }}

        <textarea name="display_messages" id="display_messages" cols="100" rows="10">
            {% for old_message in old_messages %}
                {{ old_message.text }}
            {% endfor %}
        </textarea><br>
        <input type="text" name="text_message" id="text_message" required><br>
        <button type="submit" id="message-submit" placeholder="Write You Messages....">Send</button>


        <script>
            const groupName = JSON.parse(document.getElementById('user-group-name').innerText);
            const ws = new WebSocket(  // for Synchronous Connection
                'ws://'
                + window.location.host
                + '/ws/chat/scj/'
                + groupName
                + '/'
            );

            // const ws = new WebSocket(  // for Asynchronous Connection
            //     'ws://'
            //     + window.location.host
            //     + '/ws/chat/acj/'
            //     + groupName
            //     + '/'
            // );

            ws.onopen = function (event) {
                console.log('Connection Established.', event);
            };

            ws.onmessage = function (event) {
                console.log('Message Received.', event.data);
                var message_obj = JSON.parse(event.data);
                document.querySelector('#display_messages').textContent += message_obj.username + ': ' + message_obj.messages + '\n';
            };

            ws.close = function (event) {
                console.log('Connection Closed.', event);
            };

            document.getElementById('message-submit').onclick = function (event){
                var user_messages = document.getElementById('text_message').value;
                ws.send(JSON.stringify({'messages': user_messages}))
            };

        </script>
    {% endif %}

    
</body>
</html>